/* common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.heading {
    padding: 16px 0;
    margin: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}


/* grid */

.row {
    display: flex;
    flex-flow: row wrap;
    /* max-width: 100%; */
}

.col-l-3 {
    max-width: 25%;
}


/* padding - margin */

.ptb-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ptb-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.ptb-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.plr-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.plr-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.mtb-16 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}


/* text */

.text-thin {
    font-weight: 400 !important;
}


/* main */

#header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .2);
}

#header a {
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 4px;
}

#header a:hover {
    background-color: #ccc;
}

#header .logo {}

#header .navbar {}

.navbar__list {
    list-style: none;
    display: flex;
}

.navbar__item {}

#slider {
    max-width: 1500px;
}

.slider__img img {
    width: 100%;
    /* position: relative; */
}

.slider__name {
    /* display: flex; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider__name span {
    display: inline-block;
    letter-spacing: 3px;
    font-size: 36px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
}

.slider__name span:first-child {
    background-color: #000;
    opacity: .75;
}

#content {}

#content h3 {
    font-size: 24px;
    font-weight: 400;
}

.project__img {
    position: relative;
}

.project__img img {
    width: 100%;
}

.project__img p {
    position: absolute;
    top: 0;
    left: 8px;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background-color: #000;
    line-height: 1.5;
}

#content .about {}

.about__desc p {
    margin: 16px 0;
    line-height: 1.4;
}

.about__team {}

.about__member {}

.about__member-pos,
.about__member-img {
    opacity: .8;
}

.about__member-name {
    margin: 10px 0;
}

.about__member-desc,
.about__member-pos {
    margin: 15px 0;
}

.about__member-desc {
    line-height: 1.4;
}

.about__member-btn {
    text-align: center;
    background-color: #f1f1f1;
}

.about__member-btn:hover {
    background-color: #ccc;
}

#content .contact {}

.contact__form input {
    width: 100%;
    font-size: 16px;
}

.contact__form-control {
    padding: 8px;
}

.contact__form-btn {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-size: 15px;
    line-height: 1.4;
}

.contact__form-btn:hover {
    color: #000;
    background-color: #ccc;
}

#footer {
    background-color: #000;
    color: #fff;
    padding: 16px 0;
}

#footer p {
    text-align: center;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: #4caf50;
}


/* responsive */

@media (max-width: 1023px) and (min-width: 740px) {
    .col-m-6 {
        max-width: 50%;
    }
}

@media (max-width:739px) {
    .s-col-full {
        max-width: 100%;
    }
}