/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}

body {
    background: #f1f1f1;
}


/* special */

.c-pointer:hover {
    cursor: pointer !important;
}

.break-line {
    border: 1px solid #eee;
    margin: 20px 0;
}


/* spacing */

.p-12 {
    padding: 12px !important;
}

.px-12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.py-12 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.ps-12 {
    padding-left: 12px !important;
}

.ps-12 {
    padding-right: 12px !important;
}

.pt-12 {
    padding-top: 12px !important;
}

.pb-12 {
    padding-bottom: 12px !important;
}


/* main */


/* header */

.header__navbar {
    background: #000;
}

.header a {
    color: #fff;
}

.header a:hover {
    color: #000;
    background: #ccc;
}

.header__title {
    padding: 48px 0;
}

.header__title h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
}

.header__title h6 {
    margin: 10px 0;
    line-height: 24px;
}


/* slideer */

.slider {
    width: 100%;
}

.slider__desc {
    transform: translateY(-50%);
    letter-spacing: 4px;
}

.slider__desc h2 {
    font-size: 36px;
    line-height: 54px;
}

.slider__desc b {
    font-size: 64px;
    line-height: 96px;
    font-weight: 500;
}

.slider__desc-btn {
    border: none;
    outline: none;
    background: #ccc;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    opacity: .8;
    margin: 10px 0;
}

.slider__desc-btn:hover {
    opacity: 1;
}


/* content */

.post__heading h3,
.post__heading h5 {
    margin: 10px 0;
}

.post__heading h3 {
    font-size: 24px;
    line-height: 36px;
}

.post__heading h5 {
    font-size: 18px;
    line-height: 27px;
}

.post__heading-date {
    opacity: .7;
}

.post__interacts {
    margin: 15px 0;
}

.post__interact:first-child {
    border: 1px solid #ccc;
}

.post__interact:last-child {
    background: #000;
    color: #fff;
}

.post__interact-repies {
    background: #fff;
    color: #000;
}

.post__interact:hover {
    background: #ccc;
    color: #000;
}

.post__reply-text h4 {
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0;
}

.reply-date {
    font-size: 15px;
    opacity: .7;
}

.post__reply-text p {
    margin: 15px 0;
}


/* side bar */

.about__text h4 {
    margin: 10px 0;
}

.about__text p {
    padding: 15px 0;
}

.side__heading h4 {
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0;
}

.popular-post-text span:first-child {
    font-size: 18px;
    line-height: 27px;
}

.popular-post-text span:last-child {
    font-size: 15px;
}

.popular-post {
    border-bottom: 1px solid #ddd;
}

.popular-post:last-child {
    border: none;
}

.popular-post:hover {
    background: #ccc;
}

.advertise-content span {
    line-height: 200px;
    background: #f1f1f1;
}


/* tags */

.tags-main {
    padding: 15px 0;
}

.tag {
    font-size: 12px;
    color: #000;
    background: #f1f1f1;
}

.tag-active {
    font-size: 15px;
    color: #fff;
    background: #000;
}


/* inspiration */

.inspiration-img {
    margin: 15px 0;
}


/* follow */

.follow-content i {
    font-size: 24px;
}

.follow-content i:hover {
    opacity: .6;
}


/* subscribe */

.subscribe-content p {
    padding: 15px 0;
}

.subscribe-btn {
    color: #fff;
    background: #f44336;
    border: none;
    outline: none;
}

.subscribe-btn:hover {
    color: #000;
    background: #ccc;
}

.footer {
    padding: 32px;
    background: #616161;
}

.footer>a {
    color: #fff;
    background: #000;
    padding: 12px 0;
}

.footer>a:hover {
    color: #000;
    background: #ccc;
}

.sub-pop-content p,
.footer p {
    font-size: 15px;
    margin: 15px 0;
}


/* subscribe popup */

.sub-pop-container {
    z-index: 9999;
    background: rgba(0, 0, 0, .6);
}

.sub-pop-content {
    width: 60%;
    padding: 32px;
    margin: auto;
}


/* responsive */

@media screen and (max-width: 768px) {
    .sub-pop-content {
        width: 95%;
    }
}